.git
.github
.idea
.vscode
.DS_Store
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/coverage
**/.dart_tool
**/build
**/*.log
backend/artifacts
backend/test
mobile/.flutter-plugins*
mobile/android/.gradle
mobile/android/key.properties
mobile/android/*.jks
mobile/android/*.keystore
